<div class="item panel panel-info" id="panel-<%= pk %>">
    <div class="panel-heading" id="<%= pk %>">
        <div class="btn-group pull-right">
        <button id="btn-remove" type="button" class="btn btn-info btn-xs">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button id="btn-toggle" type="button" class="btn btn-info btn-xs">
            <span id="collapse" class="glyphicon glyphicon-minus hide"></span>
            <span id="expand" class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <h3 class="panel-title" id="panel-title-<%= pk %>">
        <%= title %>
    </h3>
    </div>
    <div class="picture-wrapper" id="picture-<%= pk %>">
        <img class="img" itemprop="image" src="<%= full %>" title="<%= title %>" />
    </div>
</div>