<form role="form">
    <div class="form-group">
        <label for="bootstrapTheme">Select Bootstrap Theme</label>
        <select id="selectedTheme" class="form-control">
            <option value="default" <% if (selectedTheme=="default") print("selected") %>>Default</option>
            <option value="amelia" <% if (selectedTheme=="amelia") print("selected") %>>Amelia</option>
            <option value="cerulean" <% if (selectedTheme=="cerulean") print("selected") %>>Cerulean</option>
            <option value="cosmo" <% if (selectedTheme=="cosmo") print("selected") %>>Cosmo</option>
            <option value="cyborg" <% if (selectedTheme=="cyborg") print("selected") %>>Cyborg</option>
            <option value="flatly" <% if (selectedTheme=="flatly") print("selected") %>>Flatly</option>
            <option value="journal" <% if (selectedTheme=="journal") print("selected") %>>Journal</option>
            <option value="readable" <% if (selectedTheme=="readable") print("selected") %>>Readable</option>
            <option value="simplex" <% if (selectedTheme=="simplex") print("selected") %>>Simplex</option>
            <option value="slate" <% if (selectedTheme=="slate") print("selected") %>>Slate</option>
            <option value="spacelab" <% if (selectedTheme=="spacelab") print("selected") %>>Space Lab</option>
            <option value="united" <% if (selectedTheme=="united") print("selected") %>>United</option>
        </select>
    </div>
    <div id="btn-save" class="btn btn-default">Save</div>
</form>